{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    <div class="container my-5">
        <div class="table-education">
            <h2 class="text-center mb-4">Administration</h2>
        </div>
    </div>

{% endblock %}
