<form method="post" action="{{ path('info_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer votre compte !?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
    <button class="btn btn-link px-3 text-decoration-none ">Clôturer mon compte <i class="far fa-trash-alt small"></i></button>
</form>
