<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top d-print-none">
    <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted">&copy; 2022 Adopte un Wilder, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="nav-item ms-3"><a href="#" class="nav-link"><i class="fab fa-2x fa-facebook-square"></i></a></li>
        <li class="nav-item ms-3"><a href="#" class="nav-link"><i class="fab fa-2x fa-instagram"></i></a></li>
        <li class="nav-item ms-3"><a href="#" class="nav-link"><i class="fab fa-2x fa-twitter-square"></i></a></li>
    </ul>
</footer>
