<form method="post" action="{{ path('experience_delete', {'id': experience.id}) }}" onsubmit="return confirm('Supprimer cette expérience?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ experience.id) }}">
    <button class="btn btn-primary px-3"><i class="far fa-trash-alt"></i></button>
</form>
