<form method="post" action="{{ path('project_delete', {'id': project.id}) }}" onsubmit="return confirm('Supprimer ce projet?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn btn-primary px-3"><i class="far fa-trash-alt"></i></button>
</form>