{% extends 'base.html.twig' %}

{% block body %}

    <div class="form-experience w-50 mx-auto">
        <h2 class="text-center mt-5">Modifier un Projet</h2>
        {{ form_start(form) }}
        {{ form_row(form.picture) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">Sauvegarder</button>
        {{ form_end(form) }}
    </div>

{% endblock %}